doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='/assets/tc.css' rel='stylesheet')
    block title
      title tc
    block head
  body(class=bodyClass)
    header.page-header
      h1: a(href='/') tc
      footer
        div.page-copy 2015 &copy; FENGB TECH
    main
      block content
    block tail
